.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    font-weight: bold;
    font-size: 1.6em;
    text-decoration: underline;
}

.description {
    display: flex;
    font-size: 0.8em;
    margin: 2em 0;
}

.meta {
    display: flex;
    flex-direction: column;
    row-gap: 0.3em;
}

.manager,
.created,
.updated {
    display: flex;
    justify-content: flex-end;
    font-style: italic;
    font-size: 0.8em;
    column-gap: 0.8em;
}

.manager a {
    color: #dedede
}

.teamMembersHeader {
    font-weight: bold;
    margin: 0.6em 0;
    font-size: 1.2em;
    margin-bottom: 2em;
}

.teamMembersContainer {
    display: grid;
    row-gap: 1.8em;
}

.tableHeader {
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.teamMember {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}
