.container {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

.created,
.assigned {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #9e9e9e;
    padding-bottom: 1.2em;
}

.created a {
    color: #529e51;
    text-decoration: none;
}

.createdHeader {
    font-size: 1.6em;
    font-weight: bold;
}

.teams {
    display: flex;
    flex-direction: column;
    row-gap: 1.8em;
    margin: 1.5em 0;
}

.manager {
    color: #dedede;
    font-size: 0.8em;
    font-style: italic;
}

.manager a {
    color: #dedede;
    text-decoration: underline;
}

.team {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 5em;
}

.teamNameAndDescription {
    display: flex;
    flex-direction: column;
    row-gap: 0.7em;
}

.description {
    font-size: 0.8em;
}

.add {
    margin-top: 1em
}