body {
    border: 2px solid;
    background-color: #292929;
    color: #dedede;
    padding: 1em 2em;
}
.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
    padding-bottom: 1.2em;
    border-bottom: 2px solid #7c7c7c;
}

.app-header span {
    font-weight: bold;
    font-size: 1.3em;
}

.app-header nav {
    font-size: 0.9em;
    display: flex;
    column-gap: 2em;
}

.app-header nav a {
    text-decoration: none;
    cursor: pointer;
    color: #dedede
}
