.container {
    display: flex;
    flex-direction: column;
    row-gap: 3em;
}

.item {
    display: flex;
    justify-content: space-between;
}

.logout {
    font-size: 0.5em;
    font-weight: normal;
    color: #ff6565;

}